/* style.css */

/*import Roboto font */
@import url('https://googleapis.com');

body {
    /* needed because many browsers apply an automatic 8px margin */
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* remove default styling from unordered lists */
ul {
    list-style-type: none;
    margins: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header and hero */
.header,
.hero {
    background-color: #1F2937;
    display: flex;
    flex-basis: 80%;
    padding: 0 clamp(1rem, 10vw, 25%);
    justify-content: space-between;
}

.header {

}

#header-logo {
    text-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
}

.hero {

}

.hero-cta {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.hero-img {
    display: flex;
    background-color: rgb(120,120,135);
    justify-content: center;
    align-items: center;
}

/* information section */
.information-section {
    display: flex;
}

.card-container {

}

/* testimonial section */
.testimonial-container {
    display: flex;
    background-color: #E5E7EB;
}

/* call to action section */

.call-to-action {
    display: flex;
    background-color: #3882F6;
}

.left-side-cta {

}

.call-to-action-button {

}

/* footer */

.footer {
    display: flex;
    background-color: #1F2937;
}
